.main-div{
  min-height: 100vh;
  display: flex;
  justify-content: center;
  // align-items: center;
}

.wrapper{
  display: flex;
  // max-width: 1000px;
  justify-content: center;
}

span > a{
  color: inherit;
  text-decoration: none;
}

