.wrapper {
  display: flex;
  justify-content: center;

}

.matInput {
  border: 1px solid rgba(0, 0, 0, 0.12);
  border-radius: 12px;
  font-size: 16px;
  padding: 5px 0;
}

.options-card {
  width: 100%;
  margin-top: 1rem;
}


.mat-input:focus {
  outline: none;
  border-color: #2196f3;
}
.mat-input::placeholder {
  color: #ffffff; /* Set your desired color here */
}

.mat-form-field-label {
  font-family: "Roboto";
  color: #7a7a7a; /* Set your desired color here */
  font-size: 16px;
}

@media (min-width: 990px) {
  .wrapper {
    grid-template-columns: repeat(2, 1fr);
    max-width: 375px;
  }
}
